/* Loader */
#loader{  height:100%; width:100%; background:rgba(255,255,255,1); position:fixed; left:0; top:0; z-index:99999; }
#loader .spinner{ width: 80px; height: 80px; border: 2px solid #eee; border-top:3px solid #01004e; border-radius: 100%; position: absolute; top:0; bottom:0; left:0; right: 0; margin: auto; -webkit-animation: spin 1s infinite linear; -moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }
#loader{  background:rgba(255,255,255,1); z-index:999999; }
@-webkit-keyframes spin {
	from{ -webkit-transform: rotate(0deg); }
	to{ -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from{ -moz-transform: rotate(0deg); }
	to{ -moz-transform: rotate(360deg); }
}
@-o-keyframes spin {
	from{ -o-transform: rotate(0deg); }
	to{ -o-transform: rotate(360deg); }
}
@keyframes spin {
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
/* Loader */

html,body{ width: 100%; height: 100%;}
html,body,ul,li,form,p,dl,dt,dd,ol,h1,h2,h3,h4,h5{ margin: 0; padding: 0;}
body{  background-color: #FFF; color: #000000; font-size: 14px; letter-spacing: 0.05em; overflow: hidden;}
body,button,input,textarea{font-family: Helvetica,sans-serif, Microsoft Yahei, WenQuanYi Micro Hei; }
i,em{ font-style: normal;}
a{ text-decoration: none;}
img{border: none;}
*{ outline: none;}
ul,li{ list-style: none;}
.clear::after{ content: ''; display: block; height: 0; line-height: 0; clear: both;}

.align-middle {
	/* Center slide text vertically */
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

.wrapper{ width: 90%;  max-width: 1000px; margin: auto; position: relative;}
.bg{ background-repeat: no-repeat; background-size: 100% auto;}
.img-block{ display: block; width: 100%;}
.desktop{ display: block;}
.mobile{ display: none;}

/* header */
.header-block{ display: none;}
.header .icon-back{ display: none;}
.header{ width: 100%; position: relative; left: 0; top: 0; background-color: #FFF; z-index: 5; }
.header .top-bar{ height: 50px; }
.header .top{ background-color: #3a3a3a; height: 74px; }
.header .top-logo{ padding-top: 20px;}
.header .top-logo img:nth-child(1){ display: block; position: relative; top: -5px;}
.header .top-logo img:nth-child(2){ display: none;}
.header .menu-open{ display: none;}
.header .menu{ position: absolute; top: 0; right: 0;}
.header .menu ul:nth-child(1){ padding-top: 28px;}
.header .menu ul:nth-child(1) li{ display:inline; }
.header .menu ul:nth-child(1) li a{ display:inline-block; color: #FFF; font-size: 16px; margin-left: 40px; padding-bottom: 5px;  }
.header .menu ul:nth-child(1) li a:hover{ opacity: 0.8;}
.header .menu ul:nth-child(1) li.active a{ border-bottom: 6px solid #e83426; }
.header .menu ul:nth-child(2){ position: absolute; top: -35px; right: 0;}
.header .menu ul:nth-child(2) li{ display: inline-block; position: relative; margin-left: 30px; }
.header .menu ul:nth-child(2) li > a{color: #666666; font-size: 16px;}
.header .menu ul:nth-child(2) li > a::before{ content: ''; display: inline-block; width: 22px; height: 22px; margin-right: 10px; background-size: 100% 100%; vertical-align:middle; position: relative; top: -3px;}
.header .menu ul:nth-child(2) li:nth-child(1) > a::before{ background-image:url(../images/top-icon-contact.png);}
.header .menu ul:nth-child(2) li:nth-child(2) > a::before{ background-image:url(../images/top-icon-language.png);}
.header .menu ul:nth-child(2) li:nth-child(2) > a::after{ content: ''; display: inline-block; background-image: url(../images/lang-icon-arrow.png); background-repeat: no-repeat; width: 22px; height: 22px; vertical-align:middle; background-size: 70% 70%; background-position: center center;}
.header .language-list{ display: none; width: 120%; position: absolute; top: 35px; right: 0; z-index: 5; background-color: #646363; padding:15px 0;}
.header .language-list dd a{ display: block; color: #FFF; padding: 5px 0 5px 10px;   }
.header .language-list dd a:hover{ background-color: #7d7d7d;}
.header .active .language-list{ display: block;}
.header .active #languageBtn::after{ transform:rotate(180deg); }

/* banner */
.banner{ width: 100%; background-image: url(../images/banner-bg.jpg?v=5); height: 580px; background-color: #3b3b3b; background-repeat: no-repeat; background-position: center center; position: relative;}
.banner .banner-text{   margin: auto; position: relative; top: 130px;}
.banner i{ background-image: url(../images/banner-arrow.png); width: 24px; height: 24px; position: absolute; left: 50%; bottom: 80px; margin-left: -12px;}
.banner i{
	-ms-animation: ani_arrow 1s linear infinite;
	-webkit-animation: ani_arrow 1s linear infinite;
	animation: ani_arrow 1s linear infinite;
}

@-ms-keyframes ani_arrow {
	0%{ transform: translateY(0px); opacity: 0;}
	30%{  opacity: 1;}
	100%{ transform: translateY(50px);}
}
@-webkit-keyframes ani_arrow {
	0%{ transform: translateY(0px); opacity: 0;}
	30%{  opacity: 1;}
	100%{ transform: translateY(10px);}
}
@keyframes ani_arrow {
	0%{ transform: translateY(0px); opacity: 0;}
	30%{  opacity: 1;}
	100%{ transform: translateY(50px);}
}

/* about us */
.text-red{ color: #e83426;}
.aboutus{ width: 100%; background-color: #FFF; padding: 30px 0;}
.item-header{ position: relative;}
.item-header h3{ font-size: 32px; font-weight: normal;}


.aboutus-map{ background-color: #f0f0f0; margin-top: 20px; position: relative;}
.aboutus-map::after{content: ''; display: block; line-height: 0; clear: both;}
.aboutus-map img{ position: absolute; left: 0; top: 0;}
.aboutus-map .about-content{ line-height: 26px; padding: 2em 2em 5em 2em; min-height: 210px; position: relative;}
.aboutus-map .about-content .text-indent{ display :inline-block; width: 2em;}
.aboutus-map .about-content .showmorebtn{ position: absolute; width: 30px; height:30px; left: 50%; bottom: 2em; margin-left: -15px; background-image: url(../images/icon_arrow.png); background-size: 100% 100%; overflow: hidden; text-indent: -999px;}
.aboutus-map .about-content .showmorebtn:hover{ opacity: .8;}
.aboutus-map .about-content.active a{ transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.aboutus-map .showmore{ display: none;}
.aboutus-map .about-content.active .showmore{ display: inline;}
.aboutus-map .about-content.active .text-dot{ display: none;}

.aboutus-map.map1{ min-height: 320px;}
.aboutus-map.map1 .about-content{ width: 50%; float: right; }

.aboutus-map.map2{ min-height: 290px;}
.aboutus-map.map2 img{ top: 0; left: auto; right: 0; }
.aboutus-map.map2 .about-content{ width: 40%; }
.aboutus-map.map3 .about-content{min-height:100px;  padding-top: 260px; width: 80%; margin: auto;}

/* product */
.product-offer{ background-color: #3a3a3a; padding: 40px 0;}
.product-offer .item-header{ color: #FFF; position: relative; padding: 20px 0;}
.product-offer .item-header .mada_logo{ position: absolute; top: 0; right: 0;}
.product-offer .item-header .mada_logo img{ display: inline-block;}
.product-offer .item-header .mada_logo img:nth-child(2){ margin-left: 30px;} 
.product-offer .table-responsive{ margin-top: 20px;}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
.product-table{ min-width: 900px; width: 100%;}
.product-table td{ border: 1px solid #d9d9d9; color: #FFF; padding: 10px;}
.product-table .firstRow{ text-align: center;}

/* mining */
.mining-photo{ width: 100%;  height: 580px; background-image: url(../images/mining_bg.jpg?v=5); background-repeat: no-repeat; background-position: center center; position: relative; }
.mining-cate{ width: 100%; position: relative; left: 0; top: 50%; margin-top: -80px;}
.mining-cate ul::after{ content: ''; display: block; line-height: 0; clear: both;}
.mining-cate li{ width: 16.6666%; float: left; }
.mining-cate li div{ position: relative; margin: 0 10px;}
.mining-cate li a{ width: 100%; height: 100%; color: #EEE;  position: absolute; left: -2px; top:-2px; z-index: 2;}
.mining-cate li img{ display: block; width: 100%; border: none; border-radius: 10px;}
.mining-cate li a:hover, .mining-cate li a.active{border: #e6001e 2px solid; border-radius: 12px;}

.mining-cate li span{ position: absolute; width: 100%; height: 100%; left: 0; top: 0; color: #EEE; text-align: center; }

.partner{ background-color: #f0f0f0; padding: 30px 0;}
.partner .item-header{color: #000;}
.partner .partner-body{ background-image: url(../images/partner_2.png?v=5); height: 440px; margin-top: 20px;}
.partner .partner-body img{ display: none;}
.mining-photo .item-header{ position: relative; top: 30px;} 
.mining-photo .item-header h3{ color:#FFF;}

/* contact */
.contact{ margin: auto; background-color: #FFF; padding: 40px 0;}
.form{ margin-top: 20px;}
.form .myform{ float: left; width: 60%;}
.form .map{ float: right; width: 35%;}
.form .map img{ display: block; width: 100%;}
.form-group{ margin-top: 15px;}
.form-group label:nth-child(1){ display: block; padding-bottom: 10px;}
.form-group .form-control{
  padding: 0 15px;
  background-color: #fff;
  color: #555555;
  border: 1px solid #a6a6a6;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  box-sizing: border-box;   /* input 设置 width:100% 和padding后宽度超出父节点 */
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}
.form-group textarea.form-control{ height: 100px;}

.has-error .form-control{ border: 1px solid #e6001e;}
.has-error .form-control.skip{ border: 1px solid #a6a6a6 !important;}
.has-error label.error{ color:#e6001e; display: inline-block; padding-top: 5px; font-size: 12px;}

.form .row .col{ float: left;}
.form .row .col:nth-child(1){ width: 30%;}
.form .row .col:nth-child(2){ width: 68%; float: right;}

.form-select{ position: relative;}
.form-select .selected{ background-image: url(../images/form-select-arrow.png); background-repeat: no-repeat; background-position: center right; cursor: pointer; background-size: 28px 8px;}
.form-select .select-option{  position: absolute;  width: 100%; background-color: #FFF; z-index: 9; left: 0; top: 40px; box-shadow: 0 2px 4px rgba(0,0,0,.2); box-sizing: border-box; display: none;}
.form-select .select-option.active{ display: block;}
.form-select ul{ border: 1px solid #a6a6a6; list-style: none;}
.form-select li a{display: block; margin: 0; padding: 10px 15px; color: #000;}
.form-select li a:hover{background-color: #f2f2f2;}
.form-select li a.active{ background-color: #e2e2e2;}


.button-submit{ padding-top: 20px;}
.button-submit button[name='submit']{ display:inline-block; width: 260px; height: 40px; line-height: 40px; text-align: center;  background-color: #e83426; color: #FFFFFF; border:none;  cursor: pointer; font-size: 16px; }
.button-submit button img{ display: inline-block; position: relative; top: 2px; margin-left: 10px;}


/* footer */
.footer{ background-color: #666; padding: 30px 0; color: #FFF;}
.footer .item-header{ color: #FFF;}
.footer-body { padding: 40px 0 20px;}
.footer-body ul li{ float: left; width: 33.3333%;}
.footer-body ul li p{text-align: center; line-height: 22px;}
.footer-body ul li p:first-child{ background-repeat: no-repeat; background-size: 24px 24px; background-position: center top; padding-top: 30px; }
.footer-body ul li:nth-child(1) p:first-child{ background-image: url(../images/foot-icon-map.png);}
.footer-body ul li:nth-child(2) p:first-child{ background-image: url(../images/foot-icon-tel.png);}
.footer-body ul li:nth-child(3) p:first-child{ background-image: url(../images/foot-icon-mail.png);}
.footer-body ul li p:nth-child(2), .footer-body ul li p:nth-child(3){ padding-top: 20px;  color: #DDD;}

.copyright{ background-color: #3a3a3a; color: #FFF; padding: 15px 0; font-size: 12px;}

#roll_top {
    display: none;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background: #000000 url(../images/btn_top.svg) no-repeat center 50%;
    opacity: 0.8;
    cursor: pointer;
}


/* mining */
.mining-banner{ width: 100%; background-image: url(../images/mining/minig-banner-bg.jpg?v=5); height: 349px; background-color: #3b3b3b; background-repeat: no-repeat; background-position: center center; position: relative;}

.submining{ padding: 20px 0;}
.submining .mining-cate{ top: 0; margin-top: 0;}
.mining-cate-name{ text-align: center; padding:10px 0 20px 0; color: #333; font-size: 16px; font-weight: normal;}
.mining-photo-list{ padding-bottom: 40px;}
.mining-photo-list  ul{ margin-left: -10px;}
.mining-photo-list  li{ width: 25%; float: left;}
.mining-photo-list  li p{ margin:6px 0 0 10px;}
.mining-photo-list  li p img{ display: block; width: 100%;}
.mining-photo-list  li a{position: relative; display: inline-block; width: 100%; height: 100%;}
.mining-photo-list  li a:hover::after{ content: ''; position: absolute; width: 100%; height: 100%; z-index: 2; background:rgba(0,0,0,.5); left: 0; top: 0; background-image: url(../images/mining/zoom.png); background-repeat: no-repeat; background-position: center center; background-size: 30px auto;}

#cate1 li:nth-child(1),#cate1 li:nth-child(4){ width: 32%;}
#cate1 li:nth-child(2),#cate1 li:nth-child(3){ width: 18%;}
#cate1 li:nth-child(11){ width: 50%;}

#cate2 li:nth-child(1){ width: 16%;}
#cate2 li:nth-child(2){ width: 34%;}

#cate3 li:nth-child(1){ width: 20%;}
#cate3 li:nth-child(2){ width: 30%;}

#cate4 li:nth-child(7), #cate4 li:nth-child(8), #cate4 li:nth-child(9){ width: 50%;}

#cate6 li:nth-child(1), #cate6 li:nth-child(8){ width: 50%;}

#cate5 li:nth-child(5), #cate5 li:nth-child(6), #cate5 li:nth-child(7){ width: 50%;}

.layui-layer-imguide{ display: block !important;}
.layui-layer-photos .layui-layer-content{ overflow: visible!important;}
.layui-layer-imgprev,.layui-layer-imgnext{ width: 40px!important; height: 40px!important; background-size: 100% 100%!important; background-position: center center!important;}
.layui-layer-imgprev{ left: -50px !important; background-image: url(../images/mining/icon-left.png) !important;}
.layui-layer-imgnext{ right: -50px !important;  background-image: url(../images/mining/icon-right.png) !important;}


@media screen and (max-width: 640px){
	body{ font-size: 16px; letter-spacing: 0;}
	.desktop{ display: none;}
	.mobile{ display: block;}
	/* header */
	.header-block{ display: block; height: 60px;}
	.header .icon-back{ display: block; position: absolute; left: 5px; top: 10px; width: 40px; height: 40px;}
	.header .icon-back a{ display: block; width: 100%; height: 100%; text-indent: -99999px; background-image: url(../images/icon-back.png); background-repeat: no-repeat; background-position: center center; background-size: 80% 80%;}
	.header{ position:fixed; left: 0; top: 0; z-index: 6;}
	.header .wrapper{ width: 100%;}
	.header .top-bar{display: none;}
	.header .top{ height: 60px; border: none;}
	.header .top-logo{ padding: 18px 0 0 0; text-align: center;}
	.header .top-logo img:nth-child(1){ display: none;}
	.header .top-logo img:nth-child(2){ display: block; height: 26px; margin: auto;}
	.header .menu-open{ display: block; position: absolute; top: 15px; right: 15px; z-index: 2; }
	.header .menu-open a{ display: block; width: 30px; height: 30px; background-image: url(../images/mobile/menu-icon.png); background-size: 100% 100%; overflow: hidden; text-indent: -999px;}

	.header .menu{ display: none; position:fixed; top: 60px; right: 0; z-index: 5; width: 60%; background-color: #393939;   box-shadow: 0 0 12px rgba(0,0,0,0.6);}
	.header .show .menu{ display: block;}
	.header .menu ul:nth-child(1){ padding-top: 0;}
	.header .menu ul:nth-child(1) li{ display:block; }
	.header .menu ul:nth-child(1) li a{ display:block; font-size: 14px; margin-left: 0; padding: 15px 15px; color: #d8d8d8; border-top: 1px solid #8f8e8e;  }
	.header .menu ul:nth-child(1) li.active a{ border-bottom: none; }
	.header .menu ul:nth-child(1) li:first-child a{ border:none;}

	.header .menu ul:nth-child(1) li a.active{ border-bottom:none; }

	.header .menu ul:nth-child(2){ position: relative; top: 0;}
	.header .menu ul:nth-child(2) li{ display: block;  margin-left: 0; }
	.header .menu ul:nth-child(2) li > a{ display:block; position: relative; font-size: 14px; margin-left: 0; padding: 15px 15px; color: #d8d8d8; border-top: 1px solid #8f8e8e;  }
	.header .menu ul:nth-child(2) li > a::before,
	.header .menu ul:nth-child(2) li:nth-child(1) > a::before,
	.header .menu ul:nth-child(2) li:nth-child(2) > a::before{ display: none;}
	.header .menu ul:nth-child(2) li:nth-child(2) > a::after{ background-image: url(../images/mobile/icon-lang-arrow.png); position: absolute; top: 8px; right: 10px;}
	
	.header .language-list{ display: none; width: 100%; position: relative; top: 0; right: 0;  background-color: #393939; padding:0;}
	.header .language-list dd a{ display: block; color: #d8d8d8; padding: 15px 0 15px 40px; font-size: 12px;  border-top: 1px solid #8f8e8e;  }
	.header .language-list dd a:hover{ background-color: #7d7d7d;}
	.header .active .language-list{ display: block;}
	.header .active #languageBtn::after{ transform:rotate(180deg); }


	/* banner */
	.banner{  background-image: none; height: auto;}
	.banner .m-banner-bg{ display: block; width: 100%;}
	.banner .banner-text{ background-image:none; width: 100%; height: auto; top: 10%; position: absolute;}
	.banner .banner-text img{ display: block;  margin: auto;}
	.banner i{ display: none;}
	.banner .wrapper{ width: 100%;}

	/* about us */
	.aboutus{ padding: 30px 0;}
	.item-header h3{ font-size: 20px;}



	.aboutus-map img{ position: relative; width: 100%; }
	.aboutus-map .about-content{ line-height: 26px; padding: 1em 1em 3em 1em; min-height: 210px;}
	.aboutus-map .about-content .showmorebtn{width: 30px; height:30px; margin-left: -15px; bottom: .5em;}
	
	.aboutus-map.map1{ min-height: 200px;}
	.aboutus-map.map1 .about-content{ width: auto; margin:0;  float:none; }
	
	.aboutus-map.map2{ min-height: 200px;}
	.aboutus-map.map2 .about-content{ width: auto; }

	.aboutus-map.map3 .about-content{ min-height:100px;  padding-top: 1em; width: auto; }


	.mining-photo{  height: auto; background-image: url(../images/mobile/mining_bg.jpg?v=5);}
	.mining-photo .item-header{ position: relative; top: 0; padding-top: 30px;}
	.mining-cate{ width: 94%; position: relative; left: 0; top: 0; margin-top: 0; padding-bottom: 40px;}
	.mining-cate li{ width: 50%;  margin-top: 10px; }
	.mining-cate li div{ position: relative; margin: 0 5px;}

	.mining-cate li img{ display: block; width: 100%; border: none; border-radius: 6px;}
	.mining-cate li a:hover{border-radius: 6px;}

	.partner{  padding: 30px 0;}
	.partner .partner-body{ background-image: none; height: auto; margin-top: 20px;}
	.partner .partner-body img{ display: block; width: 100%;}



		
	/* contact */
	.contact{  padding: 40px 0;}
	.form{ margin-top: 20px;}
	.form .myform{ float: none; width: 100%; margin: auto;}
	.form .map{ float: none; display: none;}
	.form .map img{ display: block; width: 100%;}
	.form-group{ margin-top: 15px;}
	.form-group label:nth-child(1){ font-size: 12px;}

	.form .row .col{ float: none;}
	.form .row .col:nth-child(1){ width: 100%;}
	.form .row .col:nth-child(2){ width: 100%; float: none;}

	.form .row.phone .col{ float: left;}
	.form .row.phone .col:nth-child(1){ width: 40%;}
	.form .row.phone .col:nth-child(2){ width: 58%; float: right;}

	.button-submit{ padding-top: 20px;}
	.button-submit button[name='submit']{width: 100%;}


	/* footer */
	.footer{ background-color: #666; padding: 30px 0; color: #FFF;}
	.footer .item-header{ color: #FFF;}
	.footer-body { padding: 40px 0 20px;}
	.footer-body ul li{ float: none; width: 100%; padding-bottom: 20px;}
	.footer-body ul li p:first-child{  background-size: 28px 28px; padding-top: 35px; }
	.footer-body ul li p:nth-child(2), .footer-body ul li p:nth-child(3){ padding-top: 5px;}
	.copyright{ background-color: #3a3a3a; color: #FFF; padding: 15px 0; font-size: 12px;}

	#roll_top {
		height: 40px;
		width: 40px;
		bottom: 10px;
		right: 10px;

	}

	/* product */
	.product-offer{ padding: 30px 0;}
	.product-offer .item-header{ padding: 10px 0;}
	.product-offer .item-header .mada_logo{ position: relative; padding-top: 20px;}
	.product-offer .item-header .mada_logo img{ display: inline-block; height: 40px;}
	.product-offer .item-header .mada_logo img:nth-child(2){ margin-left: 20px;} 

	.table-responsive{ padding-bottom: 10px; position: relative;}
	.product-offer .table-responsive{ margin-top: 0;}
	.table-responsive::-webkit-scrollbar{
		/*滚动条整体样式*/
		width:10px;
		/*高宽分别对应横竖滚动条的尺寸*/
		height:5px;
	} 
	.table-responsive::-webkit-scrollbar-thumb{
		/*滚动条中的滚动块*/
		border-radius:10px;
		box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
		background:#535353; 
	}
	 
	.table-responsive::-webkit-scrollbar-track{
		/*滚动条里面的轨道*/
		box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
		border-radius:10px;
		background:#EDEDED;
	}

	.icon-slide{ position: absolute; width: 50px; height: 50px; background-image: url(../images/icon-slide.png); background-size: 100% 100%; top: 50%; right: 10px;
		-ms-animation: ani_slide 1s linear infinite;
		-webkit-animation: ani_slide 1s linear infinite;
		animation: ani_slide 1s linear infinite;
	}


	@-ms-keyframes ani_slide {
		0%{ right: 10px; opacity: 0;}
		30%{ right: 10px; opacity: 1;}
		100%{ transform: translateY(50px);}
	}
	@-webkit-keyframes ani_slide {
		0%{ transform: translateY(0px); opacity: 0;}
		30%{  opacity: 1;}
		100%{ transform: translateY(10px);}
	}
	@keyframes ani_slide {
		0%{ right: 0px;}
		100%{  right: 100px;}
	}

	/* subpage mining */
	.submining{ padding: 0;}
	.mining-banner{ background-image:none; display: none !important;}
	#pageMining .mining-cate{ display: none;}
	.mining-cate-name{ padding: 20px 0;}

	.mining-photo-list{ padding-bottom: 20px;}
	.mining-photo-list  ul{ margin-left: -10px;}
	.mining-photo-list  li{ width: 50%;}
	.mining-photo-list  li p{ margin:6px 0 0 10px;}


	#cate1 li:nth-child(1),#cate1 li:nth-child(4){ width: 60%;}
	#cate1 li:nth-child(2),#cate1 li:nth-child(3){ width: 40%;}
	#cate1 li:nth-child(11){ width: 100%;}

	#cate2 li:nth-child(1){ width: 35%;}
	#cate2 li:nth-child(2){ width: 65%;}

	#cate3 li:nth-child(1){ width: 35%;}
	#cate3 li:nth-child(2){ width: 65%;}

	#cate4 li:nth-child(7), #cate4 li:nth-child(8), #cate4 li:nth-child(9){ width: 100%;}

	#cate6 li:nth-child(1), #cate6 li:nth-child(8){ width: 100%;}

	#cate5 li:nth-child(5), #cate5 li:nth-child(6), #cate5 li:nth-child(7){ width: 100%;}

}
